* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #000;
  color: #fff;
  line-height: 1.6;
}

/* ===== HERO ===== */
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #020024, #090979, #000);
  text-align: center;
}

.profile-img {
  width: 160px;
  border-radius: 50%;
  border: 3px solid #0a84ff;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 3rem;
}

.hero h2 {
  color: #0a84ff;
  margin: 10px 0;
}

/* ===== SECTIONS ===== */
.section {
  padding: 60px 10%;
}

.section h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0a84ff;
}

.section.dark {
  background: #050505;
}

/* ===== SKILLS ===== */
.skill-list {
  list-style: disc;
  padding-left: 20px;
}

.skill-list li {
  margin: 6px 0;
  color: #ddd;
}


/* ===== PROJECTS ===== */
.project-card {
  background: #0a0a0a;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.project-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* ===== SERVICES ===== */
.services-list li {
  margin: 10px 0;
}

/* ===== CONTACT ===== */
.contact-info a {
  color: #0a84ff;
  text-decoration: none;
}

/* ===== FOOTER ===== */
footer {
  text-align: center;
  padding: 20px;
  background: #000;
  color: #777;
}
